* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: sans-serif;
    color: darkblue;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #09abb1;
    color: white;
}
.contenedor{
    margin: 20px 0;
    
    /* text-align: justify; */
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
}

.contenedor a{
    align-self: flex-start;
}

.contenedor h2{
    align-self: flex-start;
}

.main{
    margin: 200px 0;
    text-align: center;
    /* text-align: justify; */
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 70%;
}

.mainSEO{
    margin: 200px 0;
    /* text-align: center; */
    text-align: justify;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.mainSEO div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 70%;
    
}
.mainSEO div h3{
    text-decoration: underline;
    align-self: self-start;
}



.mainUsabilidad{
    margin: 200px 0;
    /* text-align: center; */
    text-align: justify;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.mainUsabilidad div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 70%;
    
}
.mainUsabilidad div h3{
    text-decoration: underline;
    align-self: self-start;
}

.mainAcces{
    margin: 200px 0;
    /* text-align: center; */
    text-align: justify;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.mainAcces div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 70%;
}
.mainAcces div h4{
    text-decoration: underline;
    align-self: self-start;
}

.mainAcces div h3{
    align-self: self-start;
}
.mainAcces div img{
    width: 70%;
}
p{
    align-self: flex-start;
}





/* .main div h4{
    justify-self: center;
    align-self: center;
} */

/* .main div h1{
    font-size: 1.5rem;
}

.main div h2{
    font-size: 1rem;
} */





.logo img{
    width: 80px;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    display: block;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 10px 0px;
    gap: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:hover {
  color: #00c4ff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav {
        position: absolute;
        text-align: right;
        top: 76px;
        right: 0;
        background: #09abb1;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }

    .nav.active {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
        padding-right: 2rem;
    }

    .menu-toggle {
        display: block;
    }
    .mainUsabilidad div iframe{
        width: 100%;
        justify-items: center;
        object-fit: contain;
    }

    .mainUsabilidad div{
    width: 90%;
    }
    .mainAcces div{
        width: 90%;
    }
    .mainSEO div{
        width: 90%;
    }

    .mainAcces div img{
    width: 99%;
}
    
    /* .contenedor{
    
        width: 100%;
        justify-items: center;
    } */

}